<wicket:head xmlns:wicket="http://www.w3.org/1999/xhtml">
<style>

.fieldset {
    display:inline-block;
  
    vertical-align: top;
    margin:0 0 5px 0;
}

.small-number-input {
    width:50px;
}

</style>
</wicket:head>
<wicket:panel  xmlns:wicket="http://www.w3.org/1999/xhtml">
	<form wicket:id="filter_form" style="display:inline-block;float:right;clear:right;">
		<fieldset class="fieldset">
            <legend>Sorting</legend>
            <span>Criteria:</span> <select wicket:id="sortingType"/> <select wicket:id="sortingDirection"/>
        </fieldset>
        <fieldset class="fieldset">
            <legend>Filter</legend>
		    <span>Sinks:</span> <input wicket:id="sinks" type="checkbox"></input>|
		    <span>Min. edges:</span> <input wicket:id="minEdges" class="small-number-input" type="number"></input><select wicket:id="traversalDirection"/>
            <div>
		      <span>Show vicinity content only:</span> <input type="checkbox" wicket:id="filterListByTraversalDepth"></input>
            </div>
            <div>
                <span>Filter by selected property</span> <select wicket:id="listPropertyFilterMode"></select>
            </div>
	    </fieldset>
	</form>
</wicket:panel>